<!-- <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> -->
<suite name="UAskSuite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    
    <test name="UIAutomation">
        <parameter name="device" value="iPhone14Pro"/> <!-- used only for device test -->
        <classes>
	            <class name="com.uask.tests.ChatUITest"/>
	            <class name = "com.uask.tests.ChatSecurityInjectionHandlingTest"/>>
        </classes>
    </test>
</suite>

